.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
}

@media (max-width: 999.9px) {
    .video-title {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 1000px) {
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }
}

.video-title-link {
    text-decoration: none;
    color: black;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.channel-tooltip {
    display: flex;
    position: absolute;
    top: 45px;
    z-index: 300;
    background-color: white;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.profile-picture-container:hover .channel-tooltip {
    opacity: 1;
}

.picture-tooltip {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.channel-name-tooltip {
    font-size: 14px;
    font-weight: bold;
}

.subscribers-tooltip {
    font-family: Roboto, Arial;
    font-size: 14px;
    color: gray;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    color: rgb(96, 96, 96);
}

@media (max-width: 999.9px) {
    .video-author, .video-stats {
        font-size: 12px;
    }
}

@media (min-width: 1000px) {
    .video-author, .video-stats {
        font-size: 14px;
    }
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 5px;
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 3px;
}